body{margin:0;padding:0;background:#ffe;font-size:12px;overflow:auto}
#mainDiv{width:100%;height:100%}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%}
#elapseClock{text-align:right;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:24px;color:#666}
#messages{display:none;text-align: center;font-size: 30px}
#elapseClock .digit{font-family:"digit";font-size:40px;text-align: center;}
#loveu{padding:5px;font-size:20px;margin-top:80px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic}
#clickSound{display:none}
#code{float:left;width:440px;height:400px;color:#333;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#2a36ff}
#code .keyword{color:#7f0055;font-weight:bold}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#3f7f5f}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}
#icon{font-size: 48px;color: red;margin: 50 px; align-content: center;}
#heartspan{align-content: center;text-align: center;margin: 20px;}
/* Fullscreen preloader container */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Optional background overlay */
    z-index: 1000;
  }
  
  #startButton {
    background-color: #007bff; /* Blue color */
    color: white;
    font-size: 40px; /* Increase font size for better visibility */
    padding: 20px; /* Add padding for size */
    border: none;
    border-radius: 50%; /* Makes the button a perfect circle */
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Button diameter */
    height: 100px; /* Button diameter */
  }
  
  #startButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }  
